<div class="placed-bets">	
	<div class="placed-bet-wrapper row" ng-repeat="bet in events">
		<div class="bet-trans-id-group col-md-2 col-xs-2">
			<span class="trans-id-label">Ref</span>			
			<span class="trans-id">{{bet.transaction_id}}</span>
		</div>
		<div class="bet-name-group col-md-8 col-xs-6">
			<bet class="bet-wrapper" name="{{bet.name}}" numerator="{{bet.odds.numerator}}" denominator="{{bet.odds.denominator}}"></bet>		
			<span class="event-name">To win {{bet.event}}</span>
		</div>
		<div class="bet-stake-group col-md-2 col-xs-4">
			<span class="stake">Stake {{bet.stake}}</span>
			<span class="return">
				Return {{(bet.stake == null ? 0 : (bet.stake / bet.odds.denominator * bet.odds.numerator) + bet.stake) | currency:"£"}}
			</span>
		</div>
	</div>
</div>