@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
@keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
:root {
  --slipHeaderHeight: 0px; }

html {
  font-size: 5vw; }

body {
  position: relative;
  color: #fff;
  border-right: 2px solid #969696;
  min-height: 100vh;
  background-color: #c8c8c8;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, p, a, input, span, button {
  font-family: 'Raleway',sans-serif;
  color: inherit; }

p, span, a, input, .btn {
  font-size: 1rem; }

.btn {
  padding: 0.65rem 0;
  border-radius: 0;
  font-weight: 900;
  margin: 0.9rem auto; }
  .btn.dialog-btn {
    margin-right: 1vw;
    float: right;
    color: #fff;
    padding: 1vw 3vw;
    font-size: 0.65rem;
    margin-bottom: 0;
    background-color: transparent;
    border: 1px solid #fff; }
    .btn.dialog-btn:hover {
      color: #969696;
      background-color: #fff; }

h1 {
  font-size: 3rem; }

.backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  opacity: 0; }
  .backdrop.active {
    opacity: 1;
    z-index: 3; }

.loader-container {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0; }
  .loader-container.active {
    opacity: 1;
    z-index: 4; }

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  -ms-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

.section .container {
  padding: 0.25rem 0.5rem;
  margin: 0;
  width: 100%; }
.section.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(176deg, black, #787878, #1e1e1e);
  height: 5rem; }
  .section.header .nav {
    margin-bottom: 0.5rem; }
  .section.header .bet-now-logo-container {
    margin-bottom: 0.5rem; }
    .section.header .bet-now-logo-container img {
      width: 12rem; }
  .section.header .placed-bets {
    font-size: 0.8rem;
    font-weight: 900;
    -ms-transition: all linear 300ms;
    -moz-transition: all linear 300ms;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
    text-decoration: none; }
    .section.header .placed-bets:active {
      color: #fff; }
    .section.header .placed-bets:visited {
      color: #fff; }
    .section.header .placed-bets:hover {
      color: #ffe700; }
.section.main {
  position: absolute;
  top: 5rem;
  width: 100%; }

.col-sm-6 {
  padding-left: 0;
  padding-right: 0; }

div.header a {
  position: relative;
  display: inline-block; }
  div.header a.placed-bets {
    float: right; }

error .error-dialog {
  background-color: #969696;
  color: #fff;
  width: 15rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-150vw, -50%);
  -moz-transform: translate(-150vw, -50%);
  -webkit-transform: translate(-150vw, -50%);
  transform: translate(-150vw, -50%);
  padding: 1.15rem 1rem;
  transition: all ease-in 300ms;
  opacity: 0;
  z-index: 3; }
  error .error-dialog.active {
    opacity: 1;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  error .error-dialog .error-message {
    font-size: 0.85rem; }

div.main div.event, div.main .bet-wrapper {
  display: block;
  padding: 1rem 0.65rem 0.65rem 1rem; }
div.main .bet-wrapper {
  cursor: pointer; }
  div.main .bet-wrapper span {
    font-size: 1rem; }
  div.main .bet-wrapper span.bet-odds {
    color: #ffe700; }
div.main available-bets, div.main .placed-bets {
  position: absolute;
  top: 0;
  width: 100vw; }
div.main available-bets {
  min-height: 100vh; }
  div.main available-bets bet {
    height: auto; }
  div.main available-bets .bets {
    margin-bottom: var(--slipHeaderHeight);
    overflow-y: scroll; }
    div.main available-bets .bets::-webkit-scrollbar {
      display: none; }
  div.main available-bets .event {
    color: inherit;
    background: linear-gradient(176deg, #002200, #008800);
    font-size: 1.2rem; }
  div.main available-bets .bet-wrapper {
    background: linear-gradient(176deg, #141414, #505050); }
    div.main available-bets .bet-wrapper span {
      display: inline-block; }
    div.main available-bets .bet-wrapper span.bet-odds {
      color: #ffe700;
      margin-left: 5vw; }
div.main slip, div.main .placed-bets {
  width: 100vw;
  background: linear-gradient(0deg, #413f3f, #808080); }
  div.main slip.slip-wrapper h2.slip-header, div.main .placed-bets.slip-wrapper h2.slip-header {
    font-size: 1.5rem;
    display: inline-block;
    margin: 0 0 0 1rem; }
    div.main slip.slip-wrapper h2.slip-header .glyphicon, div.main .placed-bets.slip-wrapper h2.slip-header .glyphicon {
      font-size: 0.65rem; }
    div.main slip.slip-wrapper h2.slip-header .glyphicon-chevron-down, div.main .placed-bets.slip-wrapper h2.slip-header .glyphicon-chevron-down {
      display: none; }
    div.main slip.slip-wrapper h2.slip-header .glyphicon-chevron-up, div.main .placed-bets.slip-wrapper h2.slip-header .glyphicon-chevron-up {
      display: initial; }
  div.main slip .slip-header-section, div.main .placed-bets .slip-header-section {
    height: 2.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.45rem;
    border-bottom: 1px solid #aaaaaa;
    cursor: pointer;
    width: 100vw; }
    div.main slip .slip-header-section .bet-counter, div.main .placed-bets .slip-header-section .bet-counter {
      color: #008800;
      border-radius: 100%;
      background-color: #ffe700;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: text-top;
      text-align: center;
      font-size: 0.8rem;
      font-weight: 900;
      border: 3px solid white;
      padding-top: 0.15rem;
      margin-top: 0.15rem; }
  div.main slip .slip-line-wrapper, div.main slip .placed-bet-wrapper, div.main .placed-bets .slip-line-wrapper, div.main .placed-bets .placed-bet-wrapper {
    padding: 0.4rem 1.1rem 0.3rem;
    border-bottom: 1px solid #aaaaaa; }
  div.main slip .form-group, div.main slip .placed-bet-wrapper, div.main .placed-bets .form-group, div.main .placed-bets .placed-bet-wrapper {
    margin: 0; }
  div.main slip .event-name, div.main slip .trans-id, div.main .placed-bets .event-name, div.main .placed-bets .trans-id {
    display: block;
    font-size: 0.65rem; }
  div.main slip span.bet-odds, div.main .placed-bets span.bet-odds {
    float: right; }
  div.main slip .bet-name-group, div.main slip .bet-trans-id-group, div.main slip .bet-stake-group, div.main slip .bet-wrapper, div.main .placed-bets .bet-name-group, div.main .placed-bets .bet-trans-id-group, div.main .placed-bets .bet-stake-group, div.main .placed-bets .bet-wrapper {
    padding: 0; }
  div.main slip .bet-stake-group, div.main .placed-bets .bet-stake-group {
    padding-left: 0.75rem; }
  div.main slip .bet-trans-id-group, div.main .placed-bets .bet-trans-id-group {
    padding-right: 0.75rem; }
  div.main slip .return, div.main .placed-bets .return {
    font-size: 0.65rem;
    width: 100%; }
  div.main slip input.stake, div.main .placed-bets input.stake {
    margin-left: auto;
    text-align: center;
    color: #fff;
    height: auto;
    font-size: 0.9rem;
    border-radius: 0;
    background-color: #938f8f;
    border-color: #484848;
    max-width: 5rem; }
    div.main slip input.stake::placeholder, div.main .placed-bets input.stake::placeholder {
      color: #fff; }
  div.main slip.active, div.main .placed-bets.active {
    -ms-transition: all ease-in 300ms;
    -moz-transition: all ease-in 300ms;
    -webkit-transition: all ease-in 300ms;
    transition: all ease-in 300ms;
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
    div.main slip.active h2.slip-header .glyphicon-chevron-down, div.main .placed-bets.active h2.slip-header .glyphicon-chevron-down {
      display: initial; }
    div.main slip.active h2.slip-header .glyphicon-chevron-up, div.main .placed-bets.active h2.slip-header .glyphicon-chevron-up {
      display: none; }
  div.main slip.transition, div.main .placed-bets.transition {
    -ms-transition: transform ease-in 300ms;
    -moz-transition: transform ease-in 300ms;
    -webkit-transition: transform ease-in 300ms;
    transition: transform ease-in 300ms; }
  div.main slip.disabled, div.main .placed-bets.disabled {
    -ms-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
    display: block;
    -ms-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  div.main slip input.btn.place-bets, div.main .placed-bets input.btn.place-bets {
    display: block;
    position: relative;
    margin: 2.5vw auto;
    width: 90%;
    border: none;
    background-color: #ffe700;
    color: #006600; }
    div.main slip input.btn.place-bets:hover, div.main .placed-bets input.btn.place-bets:hover {
      background-color: #008800;
      color: #ffe700; }
div.main slip {
  position: fixed;
  bottom: 0;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  -ms-transform: translateY(calc(100% - var(--slipHeaderHeight)));
  -moz-transform: translateY(calc(100% - var(--slipHeaderHeight)));
  -webkit-transform: translateY(calc(100% - var(--slipHeaderHeight)));
  transform: translateY(calc(100% - var(--slipHeaderHeight))); }
  div.main slip .bet-name-group {
    padding-top: 0.33rem; }
  div.main slip form.slip-main-section input.stake, div.main slip form.slip-main-section .return {
    float: left; }
  div.main slip form.slip-main-section .return {
    margin-left: 0.125rem; }
  div.main slip form.slip-main-section.ng-submitted input.ng-invalid {
    border: 1px solid red;
    color: red;
    background-color: #ffa0a0; }
    div.main slip form.slip-main-section.ng-submitted input.ng-invalid::placeholder {
      color: #c83232; }
  div.main slip form.slip-main-section input.ng-touched.ng-invalid {
    border: 1px solid red;
    color: red;
    background-color: #ffa0a0; }
    div.main slip form.slip-main-section input.ng-touched.ng-invalid::placeholder {
      color: #c83232; }
  div.main slip form.slip-main-section input.ng-dirty.ng-valid {
    border: 1px solid green; }
div.main .placed-bets .bet-trans-id-group {
  text-align: center; }
  div.main .placed-bets .bet-trans-id-group span {
    display: block;
    margin: 0 auto; }
div.main .placed-bets .return {
  text-align: right;
  float: right; }
div.main .placed-bets span.bet-odds {
  float: none; }
div.main .placed-bets span.stake {
  float: right; }

.odds-type-container {
  float: right; }

.odds-type-header {
  font-size: 0.5rem; }

.odds-type-header, .switch {
  display: block;
  margin: 0 auto; }

.switch {
  position: relative;
  width: 3rem;
  height: 1.5rem; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.15rem;
  bottom: 0.25rem;
  top: 0.25rem;
  background-color: #505050;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .slider {
  background-color: #ffe700; }

input:focus + .slider {
  box-shadow: 0 0 1px #ffe700; }

input:checked + .slider:before {
  -ms-transform: translateX(1.7rem);
  -moz-transform: translateX(1.7rem);
  -webkit-transform: translateX(1.7rem);
  transform: translateX(1.7rem); }

.slider.round {
  border-radius: 10px; }

.slider.round:before {
  border-radius: 50%; }

@media (min-aspect-ratio: 3 / 2) {
  html {
    font-size: 3vh; }
    html .col-xs-8 {
      width: 83%; }
    html div.main available-bets {
      overflow-x: hidden; }
    html div.main .slip input.btn.place-bets {
      width: 30%; }
    html div.main .slip .bet-stake-group {
      width: 17%; } }
@media (min-aspect-ratio: 3 / 2) and (max-width: 961px) {
  html {
    font-size: 2.5vw; } }
@media (min-aspect-ratio: 3 / 2) and (max-width: 600px) {
  html {
    font-size: 2.75vw; } }

/*# sourceMappingURL=style.css.map */
