/* Fade In Animations */

		@keyframes fadeIn {
			from {opacity: 0;}
			to {opacity:1;}
		}

		@-moz-keyframes fadeIn {
			from {opacity: 0;}
			to {opacity:1;}
		}

		@-webkit-keyframes fadeIn {
			from {opacity: 0;}
			to {opacity:1;}
		}

		@-ms-keyframes fadeIn {
			from {opacity: 0;}
			to {opacity:1;}
		}


/* Drop In Animations */

	@keyframes dropIn {
		from {transform:translateY(-100%);}
		to {transform:translateY(0);}
	}

/* Slide Up */
	@-moz-keyframes SlideUp {
	    from {transform:translateY(150px);
	    	}
	    to {transform:translateY(0px);
	    	}    
	}
	@-webkit-keyframes SlideUp {
	    from {transform:translateY(150px);
	    	}
	    to {transform:translateY(0px);
	    	}    
	}
	@keyframes SlideUp {
	    from {transform:translateY(150px);
	    	}
	    to {transform:translateY(0px);
	    	}    
	}

	//Slide left animation 

	@keyframes SlideLeft {
		from {transform: translate3d(100%,0,0);
			opacity: 0;}
		to {transform: translate3d(0,0,0);
			opacity: 1;
		}
	}



.slideUp {
	-webkit-animation: SlideUp;
	-moz-animation: SlideUp;
	-ms-animation: SlideUp;
	-o-animation: SlideUp;
	animation:SlideUp 500ms ease-in 0s 1 normal both;
}

.fadeIn {
	-webkit-animation: fadeIn;
	-moz-animation: fadeIn;
	-ms-animation: fadeIn;
	-o-animation: fadeIn;
	animation:fadeIn 500ms ease-in 0s 1 normal both;
}

.slideOutDown {
	-webkit-animation: SlideUp;
	-moz-animation: SlideUp;
	-ms-animation: SlideUp;
	-o-animation: SlideUp;
	animation:SlideUp 500ms ease-in 0s 1 reverse both;
}

.anim {
	opacity: 0;
}	
