<div id="nav-container">
	<div id="nav-icons">
		<ul id="to-home" class="nav pull-left nav-img-container">
			<li id="to-top">
				<a class="main-nav-btn" href="#splash-header">
					<img class="nav-img" src="images/web-page-home.png">
				</a>
			</li>
		</ul>
		<ul id="mobile-nav" class="nav pull-right nav-img-container">
			<li>
				<a class="main-nav-btn">
					<img class="nav-img" src="images/hamburger_menu.png">
				</a>
			</li>
		</ul>					
	</div>
	<div id="main-nav">
		<ul class="nav">
			<li id="to-work"><a class="main-nav-btn" href="#work-content">work</a></li>
			<li id="to-projects"><a class="main-nav-btn" href="#projects-content-1">projects</a></li>
			<li id="to-me"><a class="main-nav-btn" href="#me-content">me</a></li>
		</ul>
	</div>
</div>