<div id="splash-header" class="section header">
	<div id="video-container">	
			<video id="tyne" autoplay muted loop poster="images/transparent.png">
			<source class="video" src="images/river-tyne2.mp4" type="video/mp4">
			</video>
		</div>
	<div id="header-section-container" class="container"> 
		<div class="header-container">
			<h1>alex robinson</h1>
		</div>
		<div class="paragraph-container">
			<h4 id="header-para-1">Hi! I'm Alex,<br> a front end web developer based in Newcastle upon Tyne, UK.</h4>
		</div>
	</div>
</div>